
<!doctype html>
<html lang="{{lang}}">
  <head>
    {{> header }}
  </head>
  <body>
  
    {{> navbar }}

    <main role="main" class="container">
        {{> alert }}
        <h1>{{text.insert_title}}</h1>
        {{> dishForm }}
    </main>
    {{> scripts }}
    {{> dishFormScripts }}
  </body>
</html>
