
<!doctype html>
<html lang="{{lang}}">
  <head>
    {{> header }}
  </head>
  <body>
  
    {{> navbar }}

    <main role="main" class="container">
        {{> alert }}
        <div class="starter-template">
            <h1>{{text.underconstruction_title}}</h1>
            <p class="lead">{{text.underconstruction_lead}}</p>
        </div>
    </main>
    {{> scripts }}
  </body>
</html>
