<script>
    $(document).ready(function() {
        $(".addTag").click(function(){
            var html = $(".copy-tag-input").html();
            $(".addTag").before(html);
        });
    });
</script>